<ion-view  id="page1" class="Promociones" title="Inicio" >
    <ion-content  >
            
             <div class="row ">
                 <div class="col col-25 ban">
                    <div>
                        <img class="imglogopantalla" style="" src="img/banderin.png" height="auto" width="auto">
                   </div>
                 </div>
                 <div class="col col-50" style="float: inherit;margin-top: 8%;margin-left: 5%;">
                    <div  class="imglogo2">
                       <img class="imglogopantalla" style="" src="img/BotonesMenu/promociones.png" height="auto" width="auto">
                   </div>
                 </div>
                  <div class="col col-75  palabramenumargin">
                    <button type="button"  id="palabramenu"  ng-click="regresar()"><span class="glyphicon glyphicon-ok"></span> Ingresar</button> 
                  </div>
             </div>

<ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide class="sliderborder">
      
     <div class="item item-body"  id="ImagenConten">
        <img class="full-image" src="img/promociones/promo2-01.png">
     </div>
    </ion-slide>
    <ion-slide class="sliderborder">
        <br><br>
          <div class="item item-body"  id="ImagenConten">
            <img class="full-image" src="img/promociones/promo1-01.png">
         </div>
    </ion-slide>
</ion-slide-box>



<ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide class="sliderborder">
      
     <div class="item item-body"  id="ImagenConten">
        <img class="full-image" src="img/promociones/promo2-01.png">
     </div>
    </ion-slide>
    <ion-slide class="sliderborder">
        <br><br>
          <div class="item item-body"  id="ImagenConten">
            <img class="full-image" src="img/promociones/promo1-01.png">
         </div>
    </ion-slide>
</ion-slide-box>

       
 <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide class="sliderborder">
      
     <div class="item item-body"  id="ImagenConten">
        <img class="full-image" src="img/promociones/promo2-01.png">
     </div>
    </ion-slide>
    <ion-slide class="sliderborder">
        <br><br>
          <div class="item item-body"  id="ImagenConten">
            <img class="full-image" src="img/promociones/promo1-01.png">
         </div>
    </ion-slide>
</ion-slide-box>      
            
    </ion-content>
</ion-view>
