<ion-view  id="page1" class="Promociones" title="Inicio" >
    <ion-content  >
            
             <div class="row ">
                 <div class="col col-25 ban">
                    <div>
                        <img class="imglogopantalla" style="" src="img/banderin.png" height="auto" width="auto">
                   </div>
                 </div>
                 <div class="col col-50" style="float: inherit;margin-top: 8%;margin-left: 5%;">
                    <div  class="imglogo2">
                       <img class="imglogopantalla" style="" src="img/BotonesMenu/promociones.png" height="auto" width="auto">
                   </div>
                 </div>
                  <div class="col col-75  palabramenumargin">
                    <button type="button"  id="palabramenu"  ng-click="regresar()"><span class="glyphicon glyphicon-ok"></span> Ingresar</button> 
                  </div>
             </div>
 <br>
 <br>
          <div class = "row responsive-sm">
                  <div class="col">
                    <button type="button" id="establecimientopromociones"  class=" button button-full button-positive "  ng-click="establecimiento()"> GolMap</button> 
                  </div>
                  <br>
                 <div class="col">
                    <button type="button" id="canchaspromociones" class=" button button-full button-calm "  ng-click="canchas()"> Canchas</button> 
                  </div>
                  <br>
                  <div class="col">
                    <button type="button"  class=" button button-full button-positive "  id="extraspromociones" ng-click="bar()"> GolMap</button> 
                  </div>
                  <br>
                 <div class="col">
                    <button type="button"  class=" button button-full button-calm " id="golmappromociones" ng-click="extra()"> extra</button> 
                  </div>
         </div>   
    </ion-content>
</ion-view>